
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #dff3f5
}
.logo{
  background-color: white
}

.nav-links{
  display: flex;
  background-color: white;
  justify-content: space-around;
  width: 75%
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 15px;
}
   .burger{
    display: none;
    cursor: pointer;
  }
.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}


